.homepage__references {
  position: relative;
  height: 200px;
  padding: $secondary-nav-header-padding;
  border-bottom: 1px solid $base-black-color;

  @include mobile {
    padding: $secondary-nav-header-padding $primary-nav-header-padding;
  }

  @include large {
    padding: $secondary-nav-header-padding $ternary-nav-header-padding;
  }

  .homepage__references-title {
    text-align: center;
    font-size: $medium-font-size;
  }

  .homepage__references-links {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
  }

  .homepage__references-link {
    width: 30%;
    margin-right: 3%;
    display: inline-block;
    text-align: center;

    &.homepage__references-link--last {
      margin-right: 0;
    }
  }

  .homepage__references-image {
    max-width: 100%;
    max-height: 50px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
}
