footer.footer.grid
  .grid__column.grid__column--three-fifths
    .footer__menu
      .footer__menu-item Overview
      .footer__menu-item Solutions
      .footer__menu-item FAQ
  .grid__column.grid__column--two-fifths
    .footer__social-links
      .footer__social-link.footer__social-link--facebook
