section.homepage__references
  .homepage__references-title In the News
  .homepage__references-links
    a(href="http://www.geekwire.com/2015/meet-boosterfuels-stealthy-startup-refuels-your-car-while-you-work-eliminates-trips-to-gas-station/" target="_blank" class="homepage__references-link")
      img(src="https://boosterfuels.com/wp-content/uploads/2015/12/GeekWire_Logo.png" class="homepage__references-image")
    a(href="http://www.star-telegram.com/news/business/article49554930.html" target="_blank" class="homepage__references-link")
      img(src="https://boosterfuels.com/wp-content/uploads/2015/12/StarTelegram_Logo.jpg" class="homepage__references-image")
    a(href="http://www.cbsnews.com/news/booster-fuels-mobile-gas-station-app-cheap-gas-prices/" target="_blank" class="homepage__references-link homepage__references-link--last")
      img(src="https://boosterfuels.com/wp-content/uploads/2015/12/CBS_This_Morning_logo.png" class="homepage__references-image")
