nav.mobile-nav.js-mobile-nav
  .mobile-nav__menu
    a.mobile-nav__item Help Center
    a.mobile-nav__item Plans
    .mobile-nav__dropdown-menu
      .mobile-nav__dropdown-item Employee Benefits
      .mobile-nav__dropdown-item Certified Safe and Compliant
      .mobile-nav__dropdown-item Get Started
    a.mobile-nav__item Contact Us
