nav.grid.nav-header
  
  .nav-header__container
    .nav-header__column.grid__column.grid__column--three-fifths
      .nav-header__mobile
        .nav-header__mobile-menu-button.js-mobile-menu-button
      a.nav-header__logo
      .nav-header__desktops
        .nav-header__spacer |
        a.nav-header__link Help Center
        a.nav-header__link.nav-header__dropdown-menu.js-nav-dropdown
          .nav-header__text Plans
          .nav-header__icon
    .nav-header__column.grid__column.nav-header__column--right.grid__column--two-fifths
      .nav-header__desktops
        a.nav-header__link Contact Us
        a.nav-header__link.nav-header__link--last LOG IN
      .nav-header__mobile
        .nav-header__button-container
          a.nav-header__button LOG IN
  
  .nav-header__container.nav-header__container--subheader
    .nav-header__dropdown-menu-items
      .nav-header__dropdown-list-item Employee Benefits
      .nav-header__spacer |
      .nav-header__dropdown-list-item Certified Safe and Compliant
      .nav-header__spacer |
      .nav-header__dropdown-list-item Get Started
  
include ./mobile-nav
